
header {
    background-color: #ffffff;
    z-index: 1003;
    min-height: 95px;
}
.Top-header {
    background-color: #ca0304;
}
.Top-header ul.mailCont {
    list-style-type: none;
    padding-left: 0;
    float: left;
    margin: 0;
}
    .Top-header ul.mailCont li {
        float: left;
        padding: 5px 15px;
        color: #fff;
    }
.Top-header ul.social_Icon {
    list-style-type: none;
    padding-left: 0;
    float: right;
    margin: 0;
}

    .Top-header ul.social_Icon li {
        float: left;
        padding: 3px 5px;
    }
        .Top-header ul.social_Icon li a {
            color: #fff;
        }
            .Top-header ul.social_Icon li a .fa {
                border-radius: 50%;
                padding: 5px;
                width: 22px;
                height: 22px;
                font-size: 14px;
                font-weight: normal;
                line-height: 11px;
            }
.Head_Social_Icon {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
}

    .Head_Social_Icon .Head_ImailId {
        /*width: 33.3333%;*/
        float: left;
        text-align: center;
    }

        .Head_Social_Icon .Head_ImailId p {
            margin: 2px 0px;
            font-size: 13px;
            font-style: oblique;
            color: #fff;
        }

    .Head_Social_Icon .Head_Social {
        /*width: 33.3333%;*/
        float: left;
        text-align: center;
    }

        .Head_Social_Icon .Head_Social a {
            text-decoration: none;
        }

        .Head_Social_Icon .Head_Social .fa {
            font-size: 13px;
            color: #ffffff;
            margin: 0px 5px;
        }



.Header_TxtCont {
    margin: 5px 0px 5px 0px;
    padding: 3px 0px;
}

    .Header_TxtCont h2 {
        margin: 30px 0px 5px 0px;
        text-align: center;
        font-size: 70px;
        color: #09ab4f;
        text-shadow: 3px 1px 0px #fbb073;
        line-height: 50px;
    }

.Midile_Header {
    background: #fff;
}
.Midile_Header .input-group {
    margin: 15px 0px;
}

.Midile_Header .search-panel .btn {
    background: #4995d4;
    border-radius: 0px;
    border: 0;
    color: #fff;
    display: inline-block;
    font-family: "open sans condensed", sans-serif;
    line-height: 30px;
    height: 35px;
    padding: 0 10px;
    text-decoration: none;
    transition: .25s;
}

.Midile_Header .input-group-btn .btn {
    background: #4995d4;
    border-radius: 0px;
    border: 0;
    color: #fff;
    display: inline-block;
    font-family: "open sans condensed", sans-serif;
    line-height: 30px;
    height: 35px;
    padding: 0 10px;
    text-decoration: none;
    transition: .25s;
}

.Midile_Header .form-control {
    display: block;
    width: 100%;
    height: 35px;
    max-width: none;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

    .Midile_Header .logo {
        margin: 3px auto 3px auto;
        width: 100px;
        height: 100px;
    }

        .Midile_Header .logo img {
            width: 100%;
            height: 100%;
        }

        .Midile_Header .logo h3 {
            margin: 3px 0px;
            text-align: center;
            font-size: 24px;
        }

    .Midile_Header form {
        margin: 5px 0px 0px 0px;
    }

    .Midile_Header form.Search input[type=text] {
        padding: 7px 10px;
        font-size: 15px;
        border: 1px solid #222;
        float: left;
        width: 75%;
        background: #f1f1f1;
    }

    .Midile_Header form.Search button {
        float: left;
        width: 25%;
        padding: 7px 10px;
        background: #222;
        color: white;
        font-size: 15px;
        border: 1px solid #222;
        border-left: none;
        cursor: pointer;
    }

        .Midile_Header form.Search button:hover {
            background: #0b7dda;
        }

    .Midile_Header form.Search::after {
        content: "";
        clear: both;
        display: table;
    }

    .Midile_Header ul.mailCont {
        list-style-type: none;
        padding-left: 0;
        /* float: left; */
        margin: 0;
    }

        .Midile_Header ul.mailCont li {
            /* float: left; */
            padding: 5px 15px;
            color: #222;
            text-align: center;
        }

    .Midile_Header ul.social_Icon {
        list-style-type: none;
        padding-left: 0;
        /* float: right; */
        margin: 0;
    }

        .Midile_Header ul.social_Icon li {
            /*float: left;*/
            padding: 3px 5px;
            text-align: center;
        }

            .Midile_Header ul.social_Icon li a {
                color: #222;
            }

                .Midile_Header ul.social_Icon li a .fa {
                    border-radius: 50%;
                    padding: 5px;
                    width: 22px;
                    height: 22px;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 11px;
                }

.Bottum_Header {
    background: #ff841f;
}
    .Bottum_Header .logo {
        margin: 0px auto 0px auto;
        width: 70px;
        height: 70px;
        display:none;
    }

        .Bottum_Header .logo img {
            width: 100%;
            height: 100%;
        }

        .Bottum_Header .logo h3 {
            margin: 3px 0px;
            text-align: center;
            font-size: 24px;
        }
    .Bottum_Header .Header_TxtCont {
        margin: 2px 0px 2px 0px;
        padding: 3px 0px;
    }
    .Bottum_Header form {
        margin: 0px 0px 0px 0px;
    }

        .Bottum_Header form.Search input[type=text] {
            padding: 5px 10px;
            font-size: 15px;
            border: 1px solid #09ab4f;
            float: left;
            width: 80%;
            background: #f1f1f1;
            max-width: none;
        }

        .Bottum_Header form.Search button {
            float: left;
            width: 20%;
            padding: 5px 10px;
            background: #09ab4f;
            color: white;
            font-size: 15px;
            border: 1px solid #09ab4f;
            border-left: none;
            cursor: pointer;
        }

            .Bottum_Header form.Search button:hover {
                background: #0b7dda;
            }

        .Bottum_Header form.Search::after {
            content: "";
            clear: both;
            display: table;
        }

    .Bottum_Header .CartSign ul.nav {
      
    }
        .Bottum_Header .CartSign ul.nav li {
            float: right;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
        }
            .Bottum_Header .CartSign ul.nav li a {
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                padding: 11px 15px;
            }
            .Bottum_Header .CartSign ul.nav li a:hover {
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                background:#09ab4f;
            }


.navbar {
    position: relative;
    z-index: 1000;
    min-height: 40px;
    margin-bottom: 0px;
    border: 0px solid transparent;
}
.navbar-nav {
    float: none;
    margin: 0px 0px 0px 0px;
}

    .navbar-nav > li {
        float: none;
    }


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f7f7f7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    padding-bottom: 30px;
}
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #222;
        }

    .sidenav .logo {
        margin: 0px auto 0px auto !important;
        width: 70px !important;
        height: 70px !important;
        display: block !important;
        float: none !important;
    }

        .sidenav .logo a {
            padding: 0px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
    .sidenav hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0;
        border-top: 1px solid #222;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 36px;
        margin-left: 0px;
        padding: 8px 8px 8px 8px;
        line-height: 20px;
        color: #222;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 10px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/*<-------------Start Menu--------------/>*/

.affix {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    min-height: 45px;
    /* background-color: #004294; */
    background: #ff841f;
    z-index: 1005;
}


    .affix .navbar-nav {
        float: none;
        margin: 0px;
    }

    .affix .logo {
        margin: 0px auto;
        width: 60px;
        height: 45px;
        background: #fff0;
        display: block;
        float: left;
    }

        .affix .logo img {
            width: 100%;
            height: 100%;
        }

        .affix .logo h3 {
            margin: 3px;
            font-size: 17px;
            color: #fff;
        }

    .affix .navbar-inverse .navbar-nav > li > a {
        font-weight: bold;
        font: 14px/10px 'latoregular', Verdana, Geneva, sans-serif;
        color: #222;
        padding: 7px 15px;
        background-repeat: no-repeat;
        background-position: 0 50%;
    }

    .affix .navbar-inverse .navbar-nav > .dropdown > a .caret {
        border-top-color: #fff;
        border-bottom-color: #fff;
    }

    .affix .Head_Social_Icon {
        display: none;
    }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}



header {
    background-color: #76adff;
    z-index: 1003;
    min-height: 95px;
}

.navbar-inverse {
    background-color: #22222200;
    border-color: #08080800;
}

    .navbar-inverse .navbar-nav > li > a {
        font-weight: bold;
        font: 14px/10px 'latoregular', Verdana, Geneva, sans-serif;
        color: #222;
        padding: 7px 15px;
        background-repeat: no-repeat;
        background-position: 0 50%;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: #fff !important;
            background: #337ab7;
            /*background: #2098ff;*/
            /*border-bottom: 3px solid #fff;
        border-radius: 30px 0px 30px 0px;*/
        }

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 7px solid #000000;
    border-right: 7px solid transparent;
    border-bottom: 0 dotted;
    border-left: 7px solid transparent;
    content: "";
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #3a3838;
    border-bottom-color: #444343;
}


.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

    .navbar-inverse .navbar-nav > .dropdown > a .caret:hover {
        border-top-color: #808080;
        border-bottom-color: #808080;
    }

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.open > .dropdown-menu {
    display: block;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: #b1d0ff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #2098ff;
    border-bottom: 3px solid #fff;
    border-radius: 30px 0px 30px 0px;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

    .dropdown-menu > li > a:hover {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.428571429;
        color: #fff;
        /*background: #dadada;*/
        white-space: nowrap;
        background: #2098ff;
        border-bottom: 3px solid #fff;
        border-radius: 30px 0px 30px 0px;
    }

/*<-------------End Menu--------------/>*/