@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
        <div id="Ahhannews">
            <h3>अहान न्यूज़</h3>
            <div class="News_Contain" style="text-align: center;">
                <a href="#">
                    <img src="~/Content/images/Ahaannews_Logo.gif" style="width:100px; height:100px;margin:auto;">
                </a>
            </div>
            <p class="More_News"></p>
        </div>
        <div id="Rajniti">
            <h3>बिहार</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">प्रोफेसर अनिरुद्ध प्रसाद उर्फ एपी दास के असामयिक निधन पर समाज को अद्वितीय क्षति</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">कांग्रेस ने शुरू की संगठन को मजबूत करने की कवायद</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">बिहार को सूखाग्रस्त घोषित किया जाए: भवेश यादव</a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="Khel">
            <h3>खेल</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">integrity , honesty and loyalty leads to success</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">शिक्षा के साथ ही फैशन क्षेत्र में भी खास पहचान बनायी यामिनी सिन्हा ने</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">एक्&zwj;शन मीडिया और नव अस्तित्व फाउंडेशन के द्वारा तीसरे बिहार डायलॉग  का आयोजन किया गया</a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="Rojgar">
            <h3>रोजगार</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">बिहार पुलिस अवर सेवा आयोग ने दारोगा बहाली की मुख्य लिखित परीक्षा की तारीख तय कर दी है. </a>
                    </p>
                </div>
            </div>
            <a href="#" class="btn btn-success">Registration For Job</a>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="Stri">
            <h3>वैशाली</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">integrity , honesty and loyalty leads to success</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">शिक्षा के साथ ही फैशन क्षेत्र में भी खास पहचान बनायी यामिनी सिन्हा ने</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">एक्&zwj;शन मीडिया और नव अस्तित्व फाउंडेशन के द्वारा तीसरे बिहार डायलॉग  का आयोजन किया गया</a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="Puroosh">
            <h3>ग्रेटर पटना</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मृत्युंजय कुमार सिंह को सामाजिक उत्थान के लिए अमेरिकी संगठन का आमंत्रण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आशा की किरण जगा रहे हैं शशि शरण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मेरी आंखों से देखे कोई, मेरा दिल किसी के शरीर में धड़के</a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>
        <div id="Puroosh">
            <h3>प्रतियोगिता</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मृत्युंजय कुमार सिंह को सामाजिक उत्थान के लिए अमेरिकी संगठन का आमंत्रण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आशा की किरण जगा रहे हैं शशि शरण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मेरी आंखों से देखे कोई, मेरा दिल किसी के शरीर में धड़के</a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>
        <div id="Puroosh">
            <h3>धर्म</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मृत्युंजय कुमार सिंह को सामाजिक उत्थान के लिए अमेरिकी संगठन का आमंत्रण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आशा की किरण जगा रहे हैं शशि शरण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मेरी आंखों से देखे कोई, मेरा दिल किसी के शरीर में धड़के</a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>
        <div id="Puroosh">
            <h3>साहित्य</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मृत्युंजय कुमार सिंह को सामाजिक उत्थान के लिए अमेरिकी संगठन का आमंत्रण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आशा की किरण जगा रहे हैं शशि शरण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मेरी आंखों से देखे कोई, मेरा दिल किसी के शरीर में धड़के</a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>
        <div id="Puroosh">
            <h3>दिल्ली</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मृत्युंजय कुमार सिंह को सामाजिक उत्थान के लिए अमेरिकी संगठन का आमंत्रण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आशा की किरण जगा रहे हैं शशि शरण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मेरी आंखों से देखे कोई, मेरा दिल किसी के शरीर में धड़के</a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>
        <div id="Puroosh">
            <h3>उत्तर प्रदेश</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मृत्युंजय कुमार सिंह को सामाजिक उत्थान के लिए अमेरिकी संगठन का आमंत्रण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आशा की किरण जगा रहे हैं शशि शरण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मेरी आंखों से देखे कोई, मेरा दिल किसी के शरीर में धड़के</a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>
        <div id="Puroosh">
            <h3>मनोरंजन</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मृत्युंजय कुमार सिंह को सामाजिक उत्थान के लिए अमेरिकी संगठन का आमंत्रण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आशा की किरण जगा रहे हैं शशि शरण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मेरी आंखों से देखे कोई, मेरा दिल किसी के शरीर में धड़के</a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12" style="padding:0px;">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>बड़ी खबरें</h3>
            <hr>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                <p>
                    <img src="http:\\www.ahaannews.com\AhaanNewsDailyNews\2018_8_12_Sunday\Screenshot_2018-07-13-22-56-22-088_com.whatsapp.png" style="width:100%; height: 250px;">
                </p>
            </div>

        </div>

        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="News_Contain" style="max-height: 260px;">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">बिदूपुर:स्थानीय बुद्धिजीवियों,राजनीतिक दल कर रहे समझौते की प्रयास। </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">बिदूपुर:अपराध की योजना बना रहे दो अपराधी गिरफ्तार।</a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">जनता-जनार्दन के स्वास्थ्य लाभ के लिए आयूर्वेद एवं प्राकृतिक चिकित्सा का केंद्र खुला।</a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">पितृदेव शिरोमणि व ज्योतिष वास्तु आयुर्वेद भूषण सम्मान मिला!</a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">स्व: पं०राजेन्द्र तिवारी जी कि चौथी पूण्यतिथि मनायी गयी</a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">बिदूपुर:लोडेड देशी कट्टा के साथ एक गिरफ्तार।</a>

                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>डायरी विशेष</h3>
            <hr>
        </div>

        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                <p>
                    <img src="http:\\www.ahaannews.com\AhaanNewsDailyNews\2018_8_4_Saturday\IMG-20180803-WA0181.jpg" style="width:100%; height: 250px;">
                </p>
            </div>

        </div>

        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="News_Contain" style="max-height: 260px;">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आम जनता की आवाज़ बनकर पत्रकारिता का जन्म हुआ</a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">कलम को हथियार बनने पर मजबूर ना करें प्रशासन और जनप्रतिनिधि : संयोजक (NJA)</a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">बिहार ब्रांडिंग के लिए ‘‘ब्रांडिंग बिहार डॉट कॉम’’ का मुख्यमंत्री ने किया शुभारंभ</a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">अक्षय कुमार ने किया स्वर्णसाथी को लांच कहा - तम्बाकू छोड़े जीवन चुनें</a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">CodeLover Technology</a>

                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>फिल्म</h3>
            <hr>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                <p>
                    <img src="http:\\www.ahaannews.com\AhaanNewsDailyNews\2018_7_26_Thursday\IMG-20180726-WA0011.jpg" style="width:100%; height: 250px;">
                </p>
            </div>

        </div>

        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="News_Contain" style="max-height: 260px;">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">&#8236;: कुमार विजय की निर्देशित फिल्&zwj;म ‘ससुरा धोखेबाज’ की डबिंग स्टार्ट </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">&#8236;: कुमार विजय की निर्देशित फिल्&zwj;म ‘ससुरा धोखेबाज’ की डबिंग स्टार्ट </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आम्रपाली दुबे के भोजपुरी गाने ने यूट्यूब पर बनाया रिकॉर्ड</a>

                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>टॉप 100</h3>
            <hr>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                <p>
                    <img src="http:\\www.ahaannews.com\AhaanNewsDailyNews\2018_7_26_Thursday\IMG-20180726-WA0011.jpg" style="width:100%; height: 250px;">
                </p>
            </div>

        </div>

        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="News_Contain" style="max-height: 260px;">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">&#8236;: कुमार विजय की निर्देशित फिल्&zwj;म ‘ससुरा धोखेबाज’ की डबिंग स्टार्ट </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">&#8236;: कुमार विजय की निर्देशित फिल्&zwj;म ‘ससुरा धोखेबाज’ की डबिंग स्टार्ट </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आम्रपाली दुबे के भोजपुरी गाने ने यूट्यूब पर बनाया रिकॉर्ड</a>

                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>देश</h3>
            <hr>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                <p>
                    <img src="http:\\www.ahaannews.com\AhaanNewsDailyNews\2018_7_26_Thursday\IMG-20180726-WA0011.jpg" style="width:100%; height: 250px;">
                </p>
            </div>

        </div>

        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="News_Contain" style="max-height: 260px;">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">&#8236;: कुमार विजय की निर्देशित फिल्&zwj;म ‘ससुरा धोखेबाज’ की डबिंग स्टार्ट </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">&#8236;: कुमार विजय की निर्देशित फिल्&zwj;म ‘ससुरा धोखेबाज’ की डबिंग स्टार्ट </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आम्रपाली दुबे के भोजपुरी गाने ने यूट्यूब पर बनाया रिकॉर्ड</a>

                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>विदेश</h3>
            <hr>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                <p>
                    <img src="http:\\www.ahaannews.com\AhaanNewsDailyNews\2018_7_26_Thursday\IMG-20180726-WA0011.jpg" style="width:100%; height: 250px;">
                </p>
            </div>

        </div>

        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="News_Contain" style="max-height: 260px;">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">&#8236;: कुमार विजय की निर्देशित फिल्&zwj;म ‘ससुरा धोखेबाज’ की डबिंग स्टार्ट </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">&#8236;: कुमार विजय की निर्देशित फिल्&zwj;म ‘ससुरा धोखेबाज’ की डबिंग स्टार्ट </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आम्रपाली दुबे के भोजपुरी गाने ने यूट्यूब पर बनाया रिकॉर्ड</a>

                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>ई-पेपर</h3>
            <hr>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                <p>
                    <img src="http:\\www.ahaannews.com\AhaanNewsDailyNews\2018_7_26_Thursday\IMG-20180726-WA0011.jpg" style="width:100%; height: 250px;">
                </p>
            </div>

        </div>

        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="News_Contain" style="max-height: 260px;">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">&#8236;: कुमार विजय की निर्देशित फिल्&zwj;म ‘ससुरा धोखेबाज’ की डबिंग स्टार्ट </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">&#8236;: कुमार विजय की निर्देशित फिल्&zwj;म ‘ससुरा धोखेबाज’ की डबिंग स्टार्ट </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आम्रपाली दुबे के भोजपुरी गाने ने यूट्यूब पर बनाया रिकॉर्ड</a>

                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>झारखंड</h3>
            <hr>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                <p>
                    <img src="http:\\www.ahaannews.com\AhaanNewsDailyNews\2018_7_26_Thursday\IMG-20180726-WA0011.jpg" style="width:100%; height: 250px;">
                </p>
            </div>

        </div>

        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="News_Contain" style="max-height: 260px;">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">&#8236;: कुमार विजय की निर्देशित फिल्&zwj;म ‘ससुरा धोखेबाज’ की डबिंग स्टार्ट </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">&#8236;: कुमार विजय की निर्देशित फिल्&zwj;म ‘ससुरा धोखेबाज’ की डबिंग स्टार्ट </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आम्रपाली दुबे के भोजपुरी गाने ने यूट्यूब पर बनाया रिकॉर्ड</a>

                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>फोटो गैलरी</h3>
            <hr>
        </div>

        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                <p>
                    <img src="http:\\www.ahaannews.com\AhaanNewsDailyNews\2018_7_26_Thursday\IMG-20180726-WA0011.jpg" style="width:100%; height: 250px;">
                </p>
            </div>

        </div>

        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="News_Contain" style="max-height: 260px;">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">&#8236;: कुमार विजय की निर्देशित फिल्&zwj;म ‘ससुरा धोखेबाज’ की डबिंग स्टार्ट </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">&#8236;: कुमार विजय की निर्देशित फिल्&zwj;म ‘ससुरा धोखेबाज’ की डबिंग स्टार्ट </a>

                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आम्रपाली दुबे के भोजपुरी गाने ने यूट्यूब पर बनाया रिकॉर्ड</a>

                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <div id="Loksabh">
            <h3>भारत नवनिर्माण</h3>
            <div class="News_Contain" style="text-align: center;">
                <a href="#">
                    <img src="~/Content/images/Bharatnavnirman_Logo.png" style="width:100px; height:100px;margin:auto;">
                </a>
            </div>
            <p class="More_News"></p>
        </div>
        <div id="TajaKhabanre">
            <h3>क्रिकेट</h3>
            <div class="News_Contain">
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="LatestVideoNews">
            <h3>LATEST VIDEO NEWS</h3>
            <div class="News_Contain">
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="Khel">
            <h3>पंचांग</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">integrity , honesty and loyalty leads to success</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">शिक्षा के साथ ही फैशन क्षेत्र में भी खास पहचान बनायी यामिनी सिन्हा ने</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">एक्&zwj;शन मीडिया और नव अस्तित्व फाउंडेशन के द्वारा तीसरे बिहार डायलॉग  का आयोजन किया गया</a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="Rojgar">
            <h3>उद्धोग</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">बिहार पुलिस अवर सेवा आयोग ने दारोगा बहाली की मुख्य लिखित परीक्षा की तारीख तय कर दी है. </a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">बिहार पुलिस अवर सेवा आयोग ने दारोगा बहाली की मुख्य लिखित परीक्षा की तारीख तय कर दी है. </a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">बिहार पुलिस अवर सेवा आयोग ने दारोगा बहाली की मुख्य लिखित परीक्षा की तारीख तय कर दी है. </a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">बिहार पुलिस अवर सेवा आयोग ने दारोगा बहाली की मुख्य लिखित परीक्षा की तारीख तय कर दी है. </a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="Stri">
            <h3>स्वास्थ्य</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">integrity , honesty and loyalty leads to success</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">शिक्षा के साथ ही फैशन क्षेत्र में भी खास पहचान बनायी यामिनी सिन्हा ने</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">एक्&zwj;शन मीडिया और नव अस्तित्व फाउंडेशन के द्वारा तीसरे बिहार डायलॉग  का आयोजन किया गया</a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="Puroosh">
            <h3>सुझाव</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मृत्युंजय कुमार सिंह को सामाजिक उत्थान के लिए अमेरिकी संगठन का आमंत्रण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">आशा की किरण जगा रहे हैं शशि शरण</a>
                    </p>
                </div>
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">मेरी आंखों से देखे कोई, मेरा दिल किसी के शरीर में धड़के</a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="Kinnar">
            <h3>क्राइम</h3>
            <div class="News_Contain">
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="Vyapar">
            <h3>अनोखी</h3>
            <div class="News_Contain">
                <div class="mrg border_bottom" style="margin:6px 0px 0px 0px;">
                    <p>
                        <a href="#" target="_blank">होटल मौर्या में बुटीक्स ऑफ इंडिया प्रदर्शनी का 18 वे संस्करण का  उद्घाटन </a>
                    </p>
                </div>
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="MukhyeVyawasayikSalahkar">
            <h3>शिक्षा</h3>
            <div class="News_Contain">
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="MukhyeVyawasayikSalahkar">
            <h3>बॉलीवुड</h3>
            <div class="News_Contain">
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="MukhyeVyawasayikSalahkar">
            <h3>हॉलीवुड</h3>
            <div class="News_Contain">
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="MukhyeVyawasayikSalahkar">
            <h3>भोजपुरी लोकमंच</h3>
            <div class="News_Contain">
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="MukhyeVyawasayikSalahkar">
            <h3>खाना खजाना</h3>
            <div class="News_Contain">
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="MukhyeVyawasayikSalahkar">
            <h3>जीवन मंत्र</h3>
            <div class="News_Contain">
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="MukhyeVyawasayikSalahkar">
            <h3>अपना शहर</h3>
            <div class="News_Contain">
            </div>
            <p class="More_News"><a href="#" target="_blank">More News......</a></p>
        </div>

        <div id="MukhyeVyawasayikSalahkar">
            <h3>ताजखबरें</h3>
            <div class="News_Contain">
                <ul>
                    <li><a href="#">राजनेता</a></li>
                    <li><a href="#">शिक्षक</a></li>
                    <li><a href="#">चिकित्सक</a></li>
                    <li><a href="#">पत्रकार</a></li>
                    <li><a href="#">छात्र</a></li>
                    <li><a href="#">सामाजिक कार्यकर्त्ता</a></li>
                    <li><a href="#">कानून</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


